body {
    margin-left: -8px;
    margin-top: 0px;
}

.header {
    background-color: rgb(42, 42, 163);
    height: auto;


}

.head {
    color: white;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}

.w-10 {
    margin-left: 15px;

}

.w-100 button {
    color: white;
    background-color: rgb(42, 42, 163);
    margin-left: 15px;
    padding: 8px 50px;
    border: none;
    margin-bottom: 20px;
    font-weight: 600;

}

.w-100 button:hover {
    color: blue;
    padding: 8px 50px;
    border: none;
    background-color: white;
    border-radius: 5px;

}

.section-1 {

    display: flex;
   
    align-items: center;
    gap: 25px;


}

.section-2 {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 2px solid rgb(177, 175, 175);
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;

}

.sec {
    border: 2px solid rgb(177, 175, 175);
    margin: 8px;


}

#circular {
    font-size: 13px;
    font-weight: 500px;
}

.w-20 h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-70 {
    font-weight: 700;
    font-size: 20px;

}

.cancel {
    margin-left: -15px;
    font-size: 20px;
}

.middle {
    display: flex;
    gap: 20px;
}

.ellipsis {
    margin-left: 15px;
}

.findbtn {
    color: white;
    background-color: green;
    padding: 20px 40px;
    border-radius: 8px;
    border: none;
    width: 100%;
    font-size: 23px;
}

.btn {
    margin: 0px 8px;
    margin-bottom: 8px;
}

.w-70 input {
    border: none;


}

input {
    font-size: 20px;
}

.search {
    width: 50px;
    height: 40px;
    background-color: green;
    padding: 5px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-h {
    margin-top: 10px;
    border: 2px solid rgb(177, 175, 175);


}

.search-h h4 {
    padding-left: 20px;
    font-weight: 700;
    font-size: 20px;
    color: rgb(163, 162, 162);

}

footer {
    margin-top: 10px;
}

.pnr {
    padding: 20px;
    width: 49%;
    color: rgb(41, 41, 167);
    font-size: 23px;
}

.footer button {
    border: none;
    background-color: rgb(178, 178, 248);
}

#leftmenu {
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
   
}
.leftmenu-1{
    background-color: white;
   
}

.w-20 {
    padding-bottom: 40px;
    display: flex;
}

.w-20 img {
    width: 98%;
    height: 15%;
}

.leftmenu-2 {
    background-color: rgb(9, 9, 95);
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 600;
    font-size: 20px;
    padding-left: 5px;
   
}
input {
  border: none;
  outline: none;
}